aiofiles
aiogram
aiogram-media-group
aiohttp
aiohttp-socks
aioschedule
aiosignal
aiosqlite
annotated-types
anyio
async-timeout
asyncpg
attrs
certifi
charset-normalizer
colorama
distro
exceptiongroup
frozenlist
greenlet
h11
httpcore
httpx
idna
magic-filter
multidict
openai
pydantic
pydantic-settings
pydantic_core
python-dotenv
python-socks
regex
requests
sniffio
SQLAlchemy
tiktoken
tqdm
typing_extensions
urllib3
yarl
YooMoney
